// Body
$body-bg: #fcfcfc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$input-btn-font-size: 1.2rem;
$line-height-base: 1.8;

// Colors
$blue: #0510a7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #ee85e0;
$red: #e40800;
$orange: #f66a3f;
$yellow: #ffea2b;
$green: #0ae960fd;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #1f272e;

$border-radius: 1em;